.custom-navbar {
    background-color: #aa790f;
    padding: 10px 0;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
  }
  
  .nav-link-custom {
    color: white !important;
    font-size: 1.2rem;
    margin: 0 15px;
  }
  
  .nav-dropdown-custom .dropdown-item-custom {
    color: #a96500 !important;
    font-size: 1rem;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-dropdown-custom .dropdown-item-custom:hover {
    color: black !important;
    background-color: transparent !important;
  }
  
  .navbar-toggler {
    border: none;
    color: white;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  